<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anonymus.e_adhyay">

    <application
        android:allowBackup="true"
        android:icon="@drawable/i45"
        android:label="@string/app_name"
        android:roundIcon="@drawable/i45"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"/>
        <activity

            android:name=".SplashActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:label="Home"
            android:name=".HomeActivity"/>
        <activity
            android:name=".LearnActivity"/>
        <activity
            android:name=".LearnActivity1"/>
        <activity
            android:name=".LearnActivity2"/>
        <activity
            android:name=".LearnActivity3"/>
        <activity
            android:name=".LearnActivity4"/>
        <activity
            android:name=".LearnActivity5"/>
        <activity
            android:name=".LearnActivity6"/>
        <activity
            android:name=".LearnActivity8"/>
        <activity
            android:name=".LearnActivity9"/>
        <activity
            android:name=".LearnActivity7"/>
        <activity
            android:name=".LearnActivity10"/>
        <activity
            android:name=".LearnActivity11"/>
      <!--  <activity
            android:name="com.example.anonymus.e_adhyay.LearnActivity1"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity
            android:name=".QuizActivity"/>
        <activity
            android:name=".QuizActivity1"/>
        <activity
            android:name=".QuizActivity2"/>
        <activity
            android:name=".QuizActivity3"/>
        <activity
            android:name=".QuizActivity4"/>
        <activity
            android:name=".QuizActivity5"/>
        <activity
            android:name=".QuizActivityA1"/>
        <activity
            android:name=".QuizActivityB1"/>
        <activity
            android:name=".QuizActivityC1"/>
        <activity
            android:name=".QuizActivityD1"/>
        <activity
            android:name=".QuizActivityE1"/>
        <activity
            android:name=".QuizActivityA2"/>
        <activity
            android:name=".QuizActivityB2"/>
        <activity
            android:name=".QuizActivityC2"/>
        <activity
            android:name=".QuizActivityD2"/>
        <activity
            android:name=".QuizActivityE2"/>
        <activity
            android:name=".QuizActivityA3"/>
        <activity
            android:name=".QuizActivityB3"/>
        <activity
            android:name=".QuizActivityC3"/>
        <activity
            android:name=".QuizActivityD3"/>
        <activity
            android:name=".QuizActivityE3"/>
        <activity
            android:name=".QuizActivityA4"/>
        <activity
            android:name=".QuizActivityB4"/>
        <activity
            android:name=".QuizActivityC4"/>
        <activity
            android:name=".QuizActivityD4"/>
        <activity
            android:name=".QuizActivityE4"/>
        <activity
            android:name=".QuizActivityH1"/>
        <activity
            android:name=".QuizActivityH2"/>
        <activity
            android:name=".QuizActivityH3"/>
        <activity
            android:name=".QuizActivityH4"/>
        <activity
            android:name=".QuizActivityH5"/>
        <activity
            android:name=".QuizActivityHA1"/>
        <activity
            android:name=".QuizActivityHB1"/>
        <activity
            android:name=".QuizActivityHC1"/>
        <activity
            android:name=".QuizActivityHD1"/>
        <activity
            android:name=".QuizActivityHE1"/>
        <activity
            android:name=".QuizActivityHA2"/>
        <activity
            android:name=".QuizActivityHB2"/>
        <activity
            android:name=".QuizActivityHC2"/>
        <activity
            android:name=".QuizActivityHD2"/>
        <activity
            android:name=".QuizActivityHE2"/>
        <activity
            android:name=".QuizActivityHA3"/>
        <activity
            android:name=".QuizActivityHB3"/>
        <activity
            android:name=".QuizActivityHC3"/>
        <activity
            android:name=".QuizActivityHD3"/>
        <activity
            android:name=".QuizActivityHE3"/>
        <activity
            android:name=".QuizActivityHA4"/>
        <activity
            android:name=".QuizActivityHB4"/>
        <activity
            android:name=".QuizActivityHC4"/>
        <activity
            android:name=".QuizActivityHD4"/>
        <activity
            android:name=".QuizActivityHE4"/>
        <activity
            android:name=".QuizFinished"/>
        <activity
            android:name=".QuizActivityM1"/>
        <activity
            android:name=".QuizActivityM2"/>
        <activity
            android:name=".QuizActivityM3"/>
        <activity
            android:name=".QuizActivityM4"/>
        <activity
            android:name=".QuizActivityM5"/>
        <activity
            android:name=".QuizActivityMA1"/>
        <activity
            android:name=".QuizActivityMB1"/>
        <activity
            android:name=".QuizActivityMC1"/>
        <activity
            android:name=".QuizActivityMD1"/>
        <activity
            android:name=".QuizActivityME1"/>
        <activity
            android:name=".QuizActivityMA2"/>
        <activity
            android:name=".QuizActivityMB2"/>
        <activity
            android:name=".QuizActivityMC2"/>
        <activity
            android:name=".QuizActivityMD2"/>
        <activity
            android:name=".QuizActivityME2"/>
        <activity
            android:name=".QuizActivityMA3"/>
        <activity
            android:name=".QuizActivityMB3"/>
        <activity
            android:name=".QuizActivityMC3"/>
        <activity
            android:name=".QuizActivityMD3"/>
        <activity
            android:name=".QuizActivityME3"/>
        <activity
            android:name=".QuizActivityMA4"/>
        <activity
            android:name=".QuizActivityMB4"/>
        <activity
            android:name=".QuizActivityMC4"/>
        <activity
            android:name=".QuizActivityMD4"/>
        <activity
            android:name=".QuizActivityME4"/>
        <activity
            android:name=".Info"/>
    </application>

</manifest>